.searchDiv {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.inputStyles {
  display:block;
  width:25%;
  border-radius: 10px;
  height:25px;
}

.submitBtn {
  background-color: blue;
  color: white;
  font-size:25px;
  border-radius: 10px;
}