.searchDiv {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.inputLabel {
  width:25%;
}
.inputStyles {
  width:100%;
  border: 0;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
}
.inputStyles:focus {
  outline-width: 0;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
}